$success: #016565;
$danger: #c12f2f;
@import "~bootstrap/scss/bootstrap";
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#app {
    width: 100%;
    height: 100vh;
}
